
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
background-color: #f7f7f7;
padding: 30px;
}

.container {
    max-width: 1728px;
    height: 2358px;
    margin: 0 auto;
}

.read-more {
    text-decoration: none;
}

.blog-box {
    border: 1px solid #000000;
    padding: 12px;
}

.blog-box h2 {
    margin-bottom: 15px;
}

.blog-box p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.image-box {
    margin-top: 12px;
    margin-bottom: 30px;
}

.image-box h3 {
    margin-bottom: 10px;
}

.image-box img {
width: 100%;
max-width: 600px;
display: block;
margin-bottom: 10px;
}

.more-images {
color: #007bff;
text-decoration: none;
}

.trivia-box h3 {
margin-bottom: 10px;
}

.trivia-box ol {
padding-left: 20px;
}

.trivia-box li {
margin-bottom: 8px;
}
  