body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}

header h1 {
    font-size: 3rem;
}

.form-container {
    background-color: #ffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
}

.form-group {
    padding: 15px;
    display: grid;
    gap: 5px;
}

label {
    color: black;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: black;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  outline: none;
  border: 2px solid #000000;
  background-color: #ffff;
  color: black;
}

input::placeholder {
    color: #aaa;
}

#submit {
    width: 128px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid #000000;
}

button[type="submit"]:hover {
    background-color: #ddd;
}

.error {
    color: red;
}

.success {
    color: green;
}